In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import os
import sys
import h5py
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
os.environ["CUDA_VISIBLE_DEVICES"] = "3"

In [5]:
import cupy as cp

In [6]:
PROJECT_PATH = '../'
# SRBF_PATH = "/scratch/ceph/swei20/data/dnn/BHB/rbf_RedM_R5000_1k.h5"
# REDM_PATH = "/scratch/ceph/szalay/swei20/AE/norm_flux_RedM_R5000.h5"
sys.path.insert(0, PROJECT_PATH)

In [7]:
from lv.base.baseLL import KLine

In [34]:
l=KLine("RedM")
# l.get_zdf([1,11,12,20,26])

In [9]:
ff= l.dfLL[(l.dfLL["W"]>8400)&(l.dfLL["W"]<8700)]

In [11]:
ff20 = ff[(ff["Z"]==20) & (ff["I"]>-2.2)]

In [35]:
l.dfLL["I"].min()

-2.999

In [37]:
l.dfLL["W0"] = l.dfLL["W"].round(-1)

In [44]:
dfu=l.dfLL.groupby(["W0","I"]).size().reset_index().sort_values(by=[0], ascending=False)
dfu

           W0      I   0
1772   7200.0 -0.370  32
3492   7300.0 -0.390  32
4643   7370.0 -0.290  30
5588   7430.0 -0.670  30
22017  8530.0 -2.571  30
...       ...    ...  ..
9059   7650.0 -1.560   1
9058   7650.0 -1.561   1
9057   7650.0 -1.604   1
9055   7650.0 -1.648   1
25903  8850.0  0.319   1

[25904 rows x 3 columns]

In [45]:
dfuu = dfu[dfu[0] > 10]

In [50]:
uu = dfuu.values

In [51]:
uu

array([[ 7.200e+03, -3.700e-01,  3.200e+01],
       [ 7.300e+03, -3.900e-01,  3.200e+01],
       [ 7.370e+03, -2.900e-01,  3.000e+01],
       ...,
       [ 7.660e+03, -1.150e+00,  1.100e+01],
       [ 7.310e+03, -2.661e+00,  1.100e+01],
       [ 7.290e+03, -2.440e+00,  1.100e+01]])

In [56]:
uu.shape

(1087, 3)

In [53]:
LLs = 
for ii in range(len(uu)):
    u = uu[ii]
    dff=l.dfLL[(l.dfLL["I"] == u[1]) & (l.dfLL["W0"]==u[0])]
    
    break

In [54]:
dff

             W     I   Z  Q      W0
9449  7196.769 -0.37  63  0  7200.0
9450  7196.777 -0.37  63  0  7200.0
9451  7196.780 -0.37  63  0  7200.0
9454  7196.784 -0.37  63  0  7200.0
9455  7196.788 -0.37  63  0  7200.0
9456  7196.790 -0.37  63  0  7200.0
9457  7196.791 -0.37  63  0  7200.0
9458  7196.796 -0.37  63  0  7200.0
9459  7196.799 -0.37  63  0  7200.0
9460  7196.804 -0.37  63  0  7200.0
9461  7196.804 -0.37  63  0  7200.0
9462  7196.806 -0.37  63  0  7200.0
9467  7196.814 -0.37  63  0  7200.0
9468  7196.816 -0.37  63  0  7200.0
9469  7196.816 -0.37  63  0  7200.0
9470  7196.816 -0.37  63  0  7200.0
9471  7196.824 -0.37  63  0  7200.0
9472  7196.826 -0.37  63  0  7200.0
9473  7196.827 -0.37  63  0  7200.0
9474  7196.827 -0.37  63  0  7200.0
9477  7196.834 -0.37  63  0  7200.0
9478  7196.835 -0.37  63  0  7200.0
9479  7196.836 -0.37  63  0  7200.0
9480  7196.843 -0.37  63  0  7200.0
9482  7196.853 -0.37  63  0  7200.0
9483  7196.860 -0.37  63  0  7200.0
9484  7196.866 -0.37  63  0  7200.0
9485  7196.875 -0.37  63  0  7200.0
9487  7196.881 -0.37  63  0  7200.0
9489  7196.885 -0.37  63  0  7200.0
9490  7196.891 -0.37  63  0  7200.0
9492  7196.896 -0.37  63  0  7200.0

In [ ]:
for ii, uu in enumerate()

In [49]:
Is = dfuu["I"].values

array([-0.37 , -0.39 , -0.29 , ..., -1.15 , -2.661, -2.44 ])

In [47]:
l.dfLL["I"] ==

               W      I   Z  Q      W0
0       7100.010 -0.478  39  0  7100.0
1       7100.013 -2.861  27  0  7100.0
3       7100.018 -2.861  27  0  7100.0
4       7100.034 -2.861  27  0  7100.0
6       7100.044 -1.128  64  0  7100.0
...          ...    ...  .. ..     ...
138990  8849.602 -2.249  16  0  8850.0
138992  8849.664 -1.977  10  0  8850.0
138995  8849.709 -2.020  15  0  8850.0
138996  8849.738 -0.227  16  1  8850.0
139003  8849.957  0.127   8  0  8850.0

[47745 rows x 5 columns]

In [48]:
dfuu[""]

           W0      I   0
1772   7200.0 -0.370  32
3492   7300.0 -0.390  32
4643   7370.0 -0.290  30
5588   7430.0 -0.670  30
22017  8530.0 -2.571  30
...       ...    ...  ..
23681  8660.0 -0.672  11
13097  7910.0 -1.849  11
9278   7660.0 -1.150  11
3535   7310.0 -2.661  11
3219   7290.0 -2.440  11

[1087 rows x 3 columns]

In [14]:
ff20["W0"] = ff20["W"].round(-1)

<ipython-input-14-668d9fb049cb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ff20["W0"] = ff20["W"].round(-1)

In [23]:
ffu = ff20.groupby(["W0","I"]).size().reset_index()

In [27]:
ffu.sort_values(by=[0], ascending=False)

        W0      I   0
7   8540.0 -0.411  17
15  8660.0 -0.672  11
0   8420.0  0.100   1
10  8590.0 -0.795   1
16  8670.0  0.386   1
14  8620.0 -0.693   1
13  8610.0  0.524   1
12  8610.0 -0.884   1
11  8600.0 -0.793   1
9   8570.0 -0.963   1
1   8450.0  0.019   1
8   8560.0 -0.868   1
6   8510.0 -0.204   1
5   8490.0 -0.656   1
4   8480.0  0.350   1
3   8480.0 -0.170   1
2   8470.0 -0.350   1
17  8680.0 -0.990   1

In [25]:
ffu[0]

0      1
1      1
2      1
3      1
4      1
5      1
6      1
7     17
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15    11
16     1
17     1
Name: 0, dtype: int64

In [22]:
ff20.C

        W0      I   0
0   8420.0  0.100   1
1   8450.0  0.019   1
2   8470.0 -0.350   1
3   8480.0 -0.170   1
4   8480.0  0.350   1
5   8490.0 -0.656   1
6   8510.0 -0.204   1
7   8540.0 -0.411  17
8   8560.0 -0.868   1
9   8570.0 -0.963   1
10  8590.0 -0.795   1
11  8600.0 -0.793   1
12  8610.0 -0.884   1
13  8610.0  0.524   1
14  8620.0 -0.693   1
15  8660.0 -0.672  11
16  8670.0  0.386   1
17  8680.0 -0.990   1